/* this css file will only style the homepage of our site */

.anika_cat {
  margin: 10px;
  max-width: 500px;
}
html
{
  font-size: 17px;
  overflow-x: hidden;
}

p {text-align: center;}

.cat-bed
{
    -webkit-animation:move 5s linear normal; 
    -moz-animation:move 5s linear normal;
    -ms-animation:move 5s linear normal;
    -o-animation:move 5s linear normal;
    animation:move 5s linear normal;
}

.lazy-cat
{
    height: 200px;
    width: 400px;
    margin: 50px auto 0;
}

.walking
{
  -webkit-animation:walk 1s steps(12) infinite;
  -moz-animation:walk 1s steps(12) infinite;
  -ms-animation:walk 1s steps(12) infinite;
  -o-animation:walk 1s steps(12) infinite;
  animation:walk 1s steps(12) infinite;
  background: url('https://raw.githubusercontent.com/ErwanLent/Landing-Page-CSS3-Animations/master/images/cat.png') 0 0 no-repeat; 
}

.sitting
{
    -webkit-animation:sit 1s steps(6);
    -moz-animation:sit 1s steps(6);
    -ms-animation:sit 1s steps(6);
    -o-animation:sit 1s steps(6);
    animation:sit 1s steps(6);
    background: url('https://raw.githubusercontent.com/ErwanLent/Landing-Page-CSS3-Animations/master/images/cat.png') -400px -996px no-repeat; 
}

@keyframes move
{  
    from {margin-left: 100%; } 
    to {margin-left: 0; }
}

@-moz-keyframes move 
{
    from {margin-left: 100%; } 
    to {margin-left: 0; }
}

@-ms-keyframes move
{
    from {margin-left: 100%; } 
    to {margin-left: 0; }
}

@-o-keyframes move
{
    from {margin-left: 100%; } 
    to {margin-left: 0; }
}   

@-webkit-keyframes move 
{
    from { margin-left: 100%; }
    to { margin-left: 0; }
}

@keyframes walk
{  
    from {background-position: 0 0; } 
    to {background-position: 0 -2391px; }
}

@-moz-keyframes walk 
{
    from {background-position: 0 0; } 
    to {background-position: 0 -2391px; }
}

@-ms-keyframes walk
{
    from {background-position: 0 0; } 
    to {background-position: 0 -2391px; }
}

@-o-keyframes  walk
{
    from {background-position: 0 0; } 
    to {background-position: 0 -2391px; }
}   

@-webkit-keyframes walk 
{
    from {background-position: 0 0; } 
    to {background-position: 0 -2391px; }
}

@keyframes sit
{  
    from {background-position: 0 0; } 
    to {background-position: 0 -2391px; }
}

@-moz-keyframes sit 
{
    from {background-position: 0 0; } 
    to {background-position: 0 -2391px; }
}

@-ms-keyframes sit
{
    from {background-position: 0 0; } 
    to {background-position: 0 -2391px; }
}

@-o-keyframes sit
{
    from {background-position: 0 0; } 
    to {background-position: 0 -2391px; }
} 

@-webkit-keyframes sit 
{
    from {background-position: -400px 0; } 
    to {background-position: -400px -1196px; }
}
