/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #fd7fe2;
    background-color: #3bd2ed;
  }
  .Fix_1 {
    width: 50%;
  } 

